.character_wrapper {

}

.pad_left {
  padding-bottom: 69%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media (min-width:768px){
  .character_background {
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .pad_left {
    background-image: none !important;
  }

  .character_data {
    background-color: rgb(0, 0, 0, 0.8);
  }
}

@media (max-width:768px){
  .character_background {
    background-image: none !important;
  }
}

.character_name {
  display: inline-block;
  margin: 5px 0 0 0;
}

.badge_wrapper {
  display: block;
  white-space: nowrap;
  margin-bottom: 10px;
}

.character_level {
  margin: 0 0 0 5px;
  background-color: #DCC8F5;
  color: #301934;
}

.character_rank {
  margin: 0 0 0 5px;
  background-color: #F3C2E2;
  color: #B27883;
}


.character_stars {
  display: block;
  margin-bottom: 10px;
}


.nav_link {
  display: inline-block;
}