.character_wrapper {
  max-width: 800px;
}

.pad_left {
  padding-bottom: 69%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media (min-width:768px){
  .character_background {
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .pad_left {
    background-image: none !important;
  }

  .character_data {
    background-color: rgb(0, 0, 0, 0.8);
  }
}

@media (max-width:768px){
  .character_background {
    background-image: none !important;
  }
}

.character_name {
  display: inline-block;
  margin: 5px 0 0 0;
}

.badge_wrapper {
  display: block;
  white-space: nowrap;
  margin-bottom: 10px;
}

.character_level {
  margin: 0 0 0 5px;
  background-color: #DCC8F5;
  color: #301934;
}

.character_rank {
  margin: 0 0 0 5px;
  background-color: #F3C2E2;
  color: #B27883;
}

.character_rank_button {
  color: white !important;
  margin: 0px 5px;
}

.character_rank_up {
  animation: color_shift 2s alternate infinite;
}

.character_rank_up:hover {
  animation: none;
  color: white;
}

@keyframes color_shift {
  from {background-color:#0dcaf0;}
  to {background-color: #94e8f9;}
}



.character_stars {
  display: block;
}

.character_rank_wrapper {
  display: block;
  margin-top: 15px;
}

.equipment_wrapper {
  margin-top: 10px;
}
