.app_avatar {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  border: 5px solid gray;

  padding: 0px;
}

.login_wrapper {
  width: 100%;
  height: 100%;
}

.login_button {
  max-width: 200px;
  margin: 10px 5px;
}