
.equipment_unequipped {
  height: 100px;
  width: 100px;
  opacity: 0.6;
}

.equipment_unequipped:hover {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.equipment_equipped {
  height: 100px;
  width: 100px;
  cursor: pointer;
}

.equipment {
  padding: 0;
  background: none;
  border: none;
}

