.characters_wrapper {
  margin-top: 10px;
  padding: 0px;
}

.characters_row {
  width: 100%;
  max-width: 700px;
}

.character_container {
  margin-top: 10px;
}

.character_button {
  text-decoration: none;
  color: white;
}

.character_button:hover {
  color: black;
}

.character_name {
  font-size: 12px;
  margin: 0 0 0 0;
  display: block;
}

.character_image_wrapper {
  position: relative;
}

.character_image {
  width: 100px;
  height: 100px;
  padding: 6px;
}

.character_border {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
  mask: 
    linear-gradient(to top,    transparent 92%,#fff 8%),
    linear-gradient(to bottom, transparent 92%,#fff 8%),
    linear-gradient(to left  , transparent 92%,#fff 8%),
    linear-gradient(to right , transparent 92%,#fff 8%);
  mask-repeat:no-repeat;
  background-size: contain;
}

@media (max-width:768px){
  .character_image {
    width: 90px;
    height: 90px;
  }

  .character_border {
    width: 90px;
    height: 90px;
  }
}

.character_power {
  display: block;
}

.star_display {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 5px auto;
  white-space: nowrap;
}

.page_selector {
  margin-top: 20px;
}

