.skill_wrapper {
  margin-bottom: 10px;
}

.skill_description {

}

.skill_image {
  width: 100px;
  height: 100px;
  margin: 10px 0;
}

.skill_title {
  font-size: 20px;
  margin-top: 0;
  display: inline-block;
}

.skill_level {
  display: inline-block;
}

.skill_action {
  display: block;
}

.skill_cost_wrapper {
  margin-bottom: 10px;
}

.skill_cost {
  display: block;
}

.skill_cost_button {
  margin-bottom: 10px;
}